<h2>Customer Details</h2>
<hr>

<h4>Name: </h4>
<h2><%= @customer.first_name + " " + @customer.last_name %></h2>


<br>
<hr>
<h4>House: </h4>
<h2>
<% if @customer.assigned_house %>
    <%= @customer.assigned_house.name %>
<% else %>
    They have no house
<% end %>
</h2>

  <% if false %>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">house_name</a></li>
      <li><a href="#">house_name</a></li>
      <li><a href="#">house_name</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">house_name</a></li>
    </ul>
  </div>
  <% end %>
  
  <%= form_for(@customer) do |f| %>
    <%= f.select(:assigned_house, @house_options, :selected => @current) %>
    <%= f.submit "Update House", class: "btn btn-primary btn-sm" %>
  <% end %>
<hr>

