<h2><%= @house.name %></h2>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="<%= edit_house_path(@house.id) %>" class="thumbnail">
      <%= image_tag @house.picture %>
    </a>
    
  </div>
  
  
  <div class="col-md-5 col-md-offset-2">
      <h4>Available Options</h4>
      <hr>
      
      <ul>
          <% @options.each do |o| %>
              <li>
                  <%= link_to  o.name , option_path(o) %>
              </li>
          <% end %>
      </ul>
      
  </div>
  
</div>

<div class="row">
    
    <a href="<%= @house.file.to_s %>" download>
        <button type="button" class="btn btn-warning btn-lg">Download</button>
    </a>

    <%#= render "shared/exampleHouse" %>
    <%= link_to "/gameStarter/#{@house.id}" do %>
        <button type="button" class="btn btn-info btn-lg">View 3D House</button>
    <% end %>
    
    
    <%= link_to edit_house_path(@house.id) do %>
        <button type="button" class="btn btn-info btn-lg">Edit</button>
    <% end %>
    
    <%= link_to house_path(@house), method: "delete" do %>
        <button type="button" class="btn btn-danger btn-lg">Delete</button>
    <% end %>
    
    
    
</div>

<br>
<div class='jumbotron' id='house-info'>
                  
                  <div class="col-xs-6 col-sm-4">
                        <h3>About This House</h3>
                        
                        <dl>
                        <address>
                              <strong>Address</strong><br>
                              <%= @house.address %>                             
                        </address>
                        
                        <dt>Model Name</dt>
                        <dd><%= @house.name %> </dd>
                        <br>
                        <dt>Community</dt>
                        <dd>
                            <% if @house.community %>
                                <%= @house.community.name %>
                            <% else %>
                                [none selected]
                            <% end %>
                                
                        </dd>
                        <br>
                        <dt>Base Price</dt>
                        <dd>$254,000</dd>
                        </dl>
                        
                  </div>
                        
                  
                   <div class="col-xs-6 col-sm-4">
                        <h3>Specifications</h3>
                        <ul>
                        
                        <li>3 Bedrooms</li>   
                        <li>2 Bath</li>
                        <li>1,521 Finished Sq Ft</li>
                        <li>2,979 Total Sq Ft</li>
                        
                        </ul>
                  </div>
                  
                  
            </div>