html, body, .container {
	height: 100%;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

/*
.h4, h4{
	margin-top: 1pt;
	margin-bottom: 1pt;
	font-size: 10pt; 
}
	
.container {
	display: table;
	vertical-align: middle;
	border: 0px;
	border-spacing: 0px; 
}
*/

.glyphicon-spin {
    animation: spin 2000ms infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}


/*
.wrapper{
	position: relative;
	margin: 1em auto 10px auto;
	text-align: center;
	min-width: 640px;
	min-height: 480px; 
	max-width: 95%;
	display: block; 
	align-items: center;
	position: relative;
	text-align: center;
	justify-content: center;
}
*/
.wrapper{
	margin: auto auto 0 auto;
	display: block; 
	align-items: center;
	text-align: center;
	justify-content: center;
}


 
 .emscripten {
 
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

#canvas:not([fullscreen]) {
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  top: 0;
}

.texthalf {
	height: 37%; 
	border: 0px; 
	padding: 0px;
	overflow-y: scroll;
	font-size: 2em;
}

.buttonarea { 
	min-height: 3%;
	border-top: 0px;
	border-bottom: 0px;  
	padding: 0px; 
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
 }

.btn {padding: 0px; text-align: center; min-width:150px } 
.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 0px; height: 4px;}
.progress-bar-custom {background: rgba(153, 153, 153, 1);}
.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#progressbar { width: 50%; margin: 0 auto;}

#buttons_log {
	display: none;
}

#logwindow {
}

.menu-button {
	display: block;
	width: 50px;
	height: 48px;
	position: absolute;
	top: 20px;
	right: 15px;
	font-size: 2.3em;
	
}

.menu-slide {
	display: block;
	top: 00px;
	right: 20px;
	position: absolute;
}