<h2>Options</h2>
<hr>

<div class="row">
    <div class='col-md-2 sidebar'>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" <% if params[:category] == nil %> class="active" <% end %> >
                <a href="?">All Options</a>
            </li>
            <hr>
            <% @categorys.each do |c| %>
                <li role="presentation" <% if params[:category] == c %> class="active" <% end %>>
                    <a href="?category=<%= c %>">
                        <%= c %>
                    </a>
                </li>
            <% end %>
        </ul>
        <hr>
        <%= link_to new_option_path do %>
             <button type="button" class="btn btn-success">New Option</button>
        <% end %>
    </div>
    
    <div class='col-md-10'>
        
        <%= render "shared/options/table" %>
        
    </div>
</div>
