   <div class="row">
       <br><br>
   </div>
    
    
    <div class="row" >
        <div class="col-md-8">
            <div class="jumbotron">
                <h1>EnvisionIt 360!</h1>
                <h3>
                    Welcome to our website. We are still under development, if you would like to know what we are all about, <a href="#">contact us here.</a>
                    If you have an account, go ahead and log in to the right.
                </h3>
            </div>
        </div>
    
        <div class="col-md-4">
            
        </div>
    </div>
    
    
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Log In</h2>
      </div>
      
      <div class="modal-body">
          
        <div class="form-group">
            <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>
        </div>
            
        <div class="form-group">
            <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
        </div>
        
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
      <% end %>
      
    </div>
  </div>
</div>