/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.envi360-container {
    width: 65%;
    margin: 60px auto 0 auto;
}

.tilePicture {
    width: 400px;
    height: 400px;
}

.giant-image {
    background-image: url(https://envision-it-360-chandler-childs.c9users.io/assets/Riparian-ecc4ca6889dfce8f7ac00b9c3f7593bad262feb06ca8659082223d1c90fa3836.jpg);
    background-image: no-repeat center center fixed;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.house-pic {
    display: block;
    height: 250px;
    width: 100%;
    background-size: cover;
}